In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_pickle("/Users/Tianwang/ironhack/git/Data_Thief_Project_Team_Wall-e/data/final_combined_financial_data")
df.head(5)
df.columns

Index(['date', 'CAC_40_FR', 'DAX_30_GR', 'DOW_JONES_US', 'FTSE_IT', 'IBEX_SP',
       'NASDAQ_US', 'NIKKEI_JP', 'S&P_500_US', 'SSE_CN', 'day_of_week'],
      dtype='object')

### We decided to start the analysis with 2020-01-07

In [7]:
# Only returning rows starting 2020-01-06 (Some index started on the 3rd of Jan. But as it is a Friday, we decided to start with the first operating week in 2020)
# Only returning columnes with index and date, not the "day_of_week" column and also dropped NASDAQ for bad data quality 

df_select = df.loc[df["date"]>"2020-01-06", ['date', 'CAC_40_FR', 'DAX_30_GR', 'DOW_JONES_US', 'FTSE_IT', 'IBEX_SP','NIKKEI_JP', 'S&P_500_US', 'SSE_CN']]

### Use linear interpolation to fill the NaN for weekends
- We decided not to use the weekday-only table, as the Covid data should show weekends as well.

In [8]:
df_select_int = df_select.interpolate(method="linear", axis=0)
# df_select_int.to_pickle("financial_data_interpolated_absolute_value")

Just tesing how the plots look like with interpolated data.

In [ ]:
# df_select.set_index("date").plot(figsize=(20,10))

In [ ]:
# df_select_int.set_index("date").plot(figsize=(20,10))

In [9]:
df_select_int.head()

,date,CAC_40_FR,DAX_30_GR,DOW_JONES_US,FTSE_IT,IBEX_SP,NIKKEI_JP,S&P_500_US,SSE_CN
371,2020-01-07,6012.350000,13226.830000,28583.68,23723.380000,9579.8,23575.72,3237.180000,3104.802002
372,2020-01-08,6031.000000,13320.180000,28745.09,23832.020000,9591.4,23204.76,3253.050000,3066.893066
373,2020-01-09,6042.550000,13495.060000,28956.90,24016.700000,9581.8,23739.87,3274.700000,3094.882080
374,2020-01-10,6037.110000,13483.310000,28823.77,24021.400000,9573.6,23850.57,3265.350000,3092.291016
375,2020-01-11,6036.786667,13472.713333,28851.53,23979.796667,9563.7,23894.22,3272.943333,3100.050700

In [11]:
df_si = df_select_int.copy()

## Calculating the percentage using the 2020-01-07 as a basedate

- Created 8 new columns - 1 for each financial index

In [12]:
list_of_index = list(df_si.columns)
for i in range(1,9):
    df_si[i]= df_si[list_of_index[i]]/df_si.iat[0,i]
    
df_si

,date,CAC_40_FR,DAX_30_GR,DOW_JONES_US,FTSE_IT,IBEX_SP,NIKKEI_JP,S&P_500_US,SSE_CN,1,2,3,4,5,6,7,8
371,2020-01-07,6012.350000,13226.830000,28583.680000,23723.380000,9579.800000,23575.720000,3237.180000,3104.802002,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
372,2020-01-08,6031.000000,13320.180000,28745.090000,23832.020000,9591.400000,23204.760000,3253.050000,3066.893066,1.003102,1.007058,1.005647,1.004579,1.001211,0.984265,1.004902,0.987790
373,2020-01-09,6042.550000,13495.060000,28956.900000,24016.700000,9581.800000,23739.870000,3274.700000,3094.882080,1.005023,1.020279,1.013057,1.012364,1.000209,1.006963,1.011590,0.996805
374,2020-01-10,6037.110000,13483.310000,28823.770000,24021.400000,9573.600000,23850.570000,3265.350000,3092.291016,1.004118,1.019391,1.008400,1.012562,0.999353,1.011658,1.008702,0.995970
375,2020-01-11,6036.786667,13472.713333,28851.530000,23979.796667,9563.700000,23894.220000,3272.943333,3100.050700,1.004064,1.018590,1.009371,1.010809,0.998319,1.013510,1.011048,0.998470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,2020-04-04,4218.433333,9708.903333,21595.016667,16602.670000,6669.166667,18072.226667,2546.993333,2774.263379,0.701628,0.734031,0.755502,0.699844,0.696170,0.766561,0.786794,0.893540
460,2020-04-05,4282.286667,9892.036667,22137.503333,16820.990000,6756.733333,18324.263333,2605.336667,2784.539697,0.712248,0.747877,0.774481,0.709047,0.705310,0.777251,0.804817,0.896849
461,2020-04-06,4346.140000,10075.170000,22679.990000,17039.310000,6844.300000,18576.300000,2663.680000,2794.816016,0.722869,0.761722,0.793459,0.718250,0.714451,0.787942,0.822840,0.900159
462,2020-04-07,4438.270000,10356.700000,22653.860000,17411.720000,7002.000000,18950.180000,2659.410000,2805.092334,0.738192,0.783007,0.792545,0.733948,0.730913,0.803801,0.821521,0.903469
463,2020-04-08,4438.270000,10356.700000,22653.860000,17411.720000,7002.000000,18950.180000,2659.410000,2815.368652,0.738192,0.783007,0.792545,0.733948,0.730913,0.803801,0.821521,0.906779

### Renamed the new columns with names referring to the financial index

In [13]:
df_si_renamed = df_si.rename(columns= {1:"CAC_40_FR_x",
                               2:"DAX_30_GR_x",
                               3:"DOW_JONES_US_x",
                               4:"FTSE_IT_x",
                               5:"IBEX_SP_x",
                               6:"NIKKEI_JP_x",
                               7:"S&P_500_US_x",
                               8:"SSE_CN_x"
                             })

In [10]:
df_si_renamed

,date,CAC_40_FR,DAX_30_GR,DOW_JONES_US,FTSE_IT,IBEX_SP,NIKKEI_JP,S&P_500_US,SSE_CN,CAC_40_FR_x,DAX_30_GR_x,DOW_JONES_US_x,FTSE_IT_x,IBEX_SP_x,NIKKEI_JP_x,S&P_500_US_x,SSE_CN_x
371,2020-01-07,6012.350000,13226.830000,28583.680000,23723.380000,9579.800000,23575.720000,3237.180000,3104.802002,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
372,2020-01-08,6031.000000,13320.180000,28745.090000,23832.020000,9591.400000,23204.760000,3253.050000,3066.893066,1.003102,1.007058,1.005647,1.004579,1.001211,0.984265,1.004902,0.987790
373,2020-01-09,6042.550000,13495.060000,28956.900000,24016.700000,9581.800000,23739.870000,3274.700000,3094.882080,1.005023,1.020279,1.013057,1.012364,1.000209,1.006963,1.011590,0.996805
374,2020-01-10,6037.110000,13483.310000,28823.770000,24021.400000,9573.600000,23850.570000,3265.350000,3092.291016,1.004118,1.019391,1.008400,1.012562,0.999353,1.011658,1.008702,0.995970
375,2020-01-11,6036.786667,13472.713333,28851.530000,23979.796667,9563.700000,23894.220000,3272.943333,3100.050700,1.004064,1.018590,1.009371,1.010809,0.998319,1.013510,1.011048,0.998470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,2020-04-04,4218.433333,9708.903333,21595.016667,16602.670000,6669.166667,18072.226667,2546.993333,2774.263379,0.701628,0.734031,0.755502,0.699844,0.696170,0.766561,0.786794,0.893540
460,2020-04-05,4282.286667,9892.036667,22137.503333,16820.990000,6756.733333,18324.263333,2605.336667,2784.539697,0.712248,0.747877,0.774481,0.709047,0.705310,0.777251,0.804817,0.896849
461,2020-04-06,4346.140000,10075.170000,22679.990000,17039.310000,6844.300000,18576.300000,2663.680000,2794.816016,0.722869,0.761722,0.793459,0.718250,0.714451,0.787942,0.822840,0.900159
462,2020-04-07,4438.270000,10356.700000,22653.860000,17411.720000,7002.000000,18950.180000,2659.410000,2805.092334,0.738192,0.783007,0.792545,0.733948,0.730913,0.803801,0.821521,0.903469
463,2020-04-08,4438.270000,10356.700000,22653.860000,17411.720000,7002.000000,18950.180000,2659.410000,2815.368652,0.738192,0.783007,0.792545,0.733948,0.730913,0.803801,0.821521,0.906779

In [11]:
df_si_renamed.to_pickle("final_financial_data_interpolated_abs_perc")